:root {
/* Custom Properties */
/* Typography variables */
    --letter-spacing: 0.1rem;
    --fs: 1rem;
    --font-fam: "Jost";
    --paragraph-fs: 1.1rem;
 /* Font weight variables */
    --fw1: 100;
    --fw2: 200;
    --fw3: 300;
/* Font effect variables  */
    --text-shad: 0 0 10px #91ff65, 2px 2px 1px rgb(0, 221, 255);
/* Layout variables */
    --max-width: 90%;
    --section-height: 100vh;
    }

    html {
    font-size: var(--fs);
    font-family: var(--font-fam), Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing);
    line-height: 1.6;
  }

body {
    margin: auto;
    
  }

/* Element rules */

/* First Section */
#first-section {
    min-height: var(--section-height);
    background-color: hsla(160, 3%, 88%, 0.53);
}

/* Header */
header {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: var(--fw3);
}

h2 {
    font-weight: var(--fw3)
}

#welcome {
    text-shadow: var(--text-shad);
}

/* Intro paragraphs */
p {
    font-size: var(--paragraph-fs);
    max-width: var(--max-width);
    margin: auto;
}

#intro-paragraph-one::first-letter {
  font-size: 130%;
  color: hsl(81, 20%, 0%);
}

#intro-paragraph-container {
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
    
  }

/* Paragraph animations */
.paragraphs-one-three {
  visibility: hidden;
}

#intro-paragraph-two {
  visibility: hidden;
}

.slide-r-l {
    animation-duration: 2s;
    animation-name: sliderl;
}
  
  @keyframes sliderl {
    from {
      transform: translateX(100%);
      
    }
  
    to {
      transform: translateX(0%);
      
    }
  }

.slide-l-r {
    animation-duration: 2s;
    animation-name: slidelr;
}
  
  @keyframes slidelr {
    from {
      transform: translateX(-100%);
      
    }
  
    to {
      transform: translateX(0%);
      
    }
  }
  


#blob-1 {
    display: flex;
    justify-content: center;

}

#radius1 {
    width: auto;
    
    text-align: center;

    visibility: hidden;
  
    background: repeating-radial-gradient(hotpink, rebeccapurple);
    border-start-start-radius: 30%;
    border-start-end-radius: 60%;
    border-end-start-radius: 60%;
    border-end-end-radius: 50%;
  
    padding-block-start: 10vw;
    padding-block-end: 10vw;
  
    writing-mode: vertical-rl;
  
    box-shadow: 2.8px 2.8px 2.2px rgba(245, 199, 199, 0.065),
      6.7px 6.7px 5.3px rgba(223, 191, 10, 0.118),
      12.5px 12.5px 10px rgba(24, 230, 51, 0.158),
      22.3px 22.3px 17.9px rgba(235, 49, 49, 0.185),
      41.8px 41.8px 33.4px rgba(212, 177, 177, 0.211),
      100px 100px 80px rgba(247, 244, 244, 0.5);

      -webkit-animation: rotate-scale-down-diag-2 5s linear infinite both;
      animation: rotate-scale-down-diag-2 5s linear infinite both;    
  }

@-webkit-keyframes rotate-scale-down-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
      transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
      transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
      transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }

@keyframes rotate-scale-down-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
      transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
      transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
      transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }

#blob-button-div {
    /* put blob and button in grid */
}

#blob-button-one {
        background: linear-gradient(33deg, rebeccapurple, hotpink);
        transition: all 1s ease;
        padding: 1rem;
        border: 0;
        border: 2px solid transparent;
        text-decoration: none;
        text-shadow: var(--text-shad);
        font-size: var(--fw3);
    }
    
#blob-button-one:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all 0.5s ease-in-out;
    }

  
  

/* Second section */
#second-section {
    min-height: var(--section-height);
    background-color: aqua;
}
  


/* Carousel styles */
.carousel-container {
    border: 2px solid rgb(115, 69, 255);
    width: 700px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 700px;
}

#prev-btn {
    position: absolute;
    top: 55%;
    left: 2%;
    z-index: 10;
    font-size: 30px;
    color: rgb(115, 69, 255);
    cursor: pointer;
    opacity: 0.5;
}

#next-btn {
    position: absolute;
    top: 55%;
    right: 2%;
    z-index: 10;
    font-size: 30px;
    color: rgb(115, 69, 255);
    cursor: pointer;
    opacity: 0.5;
}
/* End of carousel styles */


